.table-container {
    position: relative;
    table {
        display: table;
        border-collapse: collapse;
        thead tr {
            z-index: 1;
            &:nth-child(1) {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 9999;
            }
        }
        td {
            position: relative;
            display: table-cell;
            font-size: 14px;
            width: 120px;
            min-width: 120px;
            min-height: 20px;
            height: 20px;
            line-height: 20px;
            cursor: pointer;
            input {
                display: block;
                width: calc(100% - 2px);
                height: 100%;
                background-color: inherit;
                border-width: 0;
                line-height: inherit;
                cursor: pointer;
                user-select: none;
                &:focus {
                    outline-width: 0;
                }
                &:disabled {
                    color: inherit;
                }
            }
            .drag {
                position: absolute;
                opacity: 0;
                transition: opacity ease 0.3s;

                &.drag-bottom {
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background-color: black;
                    cursor: ns-resize;
                }

                &.drag-right {
                    right: 0;
                    top: 0;
                    width: 2px;
                    height: 100%;
                    background-color: black;
                    cursor: ew-resize;
                }

                &:hover {
                    opacity: 1;
                }
            }
            &.col-0 {
                min-width: 60px;
            }
            &.header-td {
                background-color: rgb(237, 243, 248);
            }
            &.selected {
                background-color: #e6e6e6;
            }
            &.bold input {
                font-weight: bold;
            }
            &.italic input {
                font-style: italic;
            }
            &.underline input {
                text-decoration: underline;
            }
            &.text-left input {
                text-align: left;
            }
            &.text-center input {
                text-align: center;
            }
            &.text-right input {
                text-align: right;
            }
        }
        &.border {
            td {
                border: 1px solid black;
            }
        }
    }
    .menu-list {
        position: absolute;
        display: none;
        background-color: #FAFAFA;
        border-radius: 5px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        li {
            position: relative;
            font-size: 14px;
            width: 140px;
            display: block;
            padding: 10px 0 10px 5px;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid #ddd;
            color: #555;
            background-color: #fff;
            &:hover {
                background-color: #f5f5f5;
            }
            &.font {
                .font-setting,
                .font-sub-setting {
                    position: absolute;
                    left: 100%;
                    top: 0px;
                    display: none;
                }
                &:hover {
                    .font-setting {
                        display: block;
                    }
                }
                .fontAlign:hover .font-sub-setting {
                    display: block;
                }
            }
        }
        &.active {
            display: block;
        }
    }
}