.table-container {
    position: relative;
    table {
        display: table; // border: 0.5px solid rgb(194, 208, 222);
        td {
            position: relative;
            display: inline-table;
            font-size: 14px;
            min-width: 180px;
            min-height: 40px; // border: 0.5px solid rgb(194, 208, 222);
            line-height: 40px;
            cursor: pointer;
            input {
                display: block;
                width: 180px;
                background-color: inherit;
                border-width: 0;
                line-height: inherit;
                cursor: pointer;
                &:focus {
                    outline-width: 0;
                }
                &:disabled {
                    color: inherit;
                }
            }
            .drag {
                position: absolute;
                width: 8px;
                right: 0;
                bottom: 0;
                cursor: se-resize;
                img {
                    display: block;
                    width: 100%;
                }
            }
            &.header-td {
                background-color: rgb(237, 243, 248);
            }
            &.selected {
                background-color: #e6e6e6;
            }
            &.bold input {
                font-weight: bold;
            }
            &.italic input {
                font-style: italic;
            }
            &.underline input {
                text-decoration: underline;
            }
            &.text-left input {
                text-align: left;
            }
            &.text-center input {
                text-align: center;
            }
            &.text-right input {
                text-align: right;
            }
        }
    }
    .menu-list {
        position: absolute;
        display: none;
        background-color: #FAFAFA;
        border-radius: 5px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        li {
            position: relative;
            font-size: 14px;
            width: 140px;
            display: block;
            padding: 10px 0 10px 5px;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid #ddd;
            color: #555;
            background-color: #fff;
            &:hover {
                background-color: #f5f5f5;
            }
            &.font {
                .font-setting, .font-sub-setting {
                    position: absolute;
                    left: 100%;
                    top: 0px;
                    display: none;
                }
                &:hover {
                    .font-setting {
                        display: block;
                    }
                }
                .fontAlign:hover .font-sub-setting {
                    display: block;
                }
            }
        }
        &.active {
            display: block;
        }
    }
}